<div class="container p-8 bg-slate-900 text-white w-full">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-4" [(ngModel)]="selectedStyle">
        <mat-button-toggle value="material">Angular Material</mat-button-toggle>
        <mat-button-toggle value="tailwind">HTML + Tailwind CSS</mat-button-toggle>
    </mat-button-toggle-group>
    @if (selectedStyle === 'material') {
    <h2 class="text-3xl">With Angular Material</h2>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Step 1: Account Info</ng-template>
                <div class="flex gap-5">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" required>
                        @if(firstFormGroup.get('name')?.hasError('required')){
                        <mat-error>
                            Name is required
                        </mat-error>
                        }
                        @if(firstFormGroup.get('name')?.hasError('minlength')){
                        <mat-error>
                            Name must be at least 5 characters long
                        </mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" required>
                        @if(firstFormGroup.get('password')?.hasError('required')){
                        <mat-error>
                            Password is required
                        </mat-error>
                        }
                        @if (firstFormGroup.get('password')?.hasError('minlength')) {
                        <mat-error>
                            Password must be at least 8 characters long
                        </mat-error>
                        }
                    </mat-form-field>
                </div>

                <div>
                    <button mat-button (click)="goNext(stepper)" [disabled]="asyncTaskInProgress">Next</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Step 2: Address Info</ng-template>
                <div class="flex gap-5">
                    <mat-form-field>
                        <mat-label>Address 1</mat-label>
                        <input matInput formControlName="address1" required>
                        @if (secondFormGroup.get('address1')?.hasError('required')) {
                        <mat-error>
                            Address 1 is required
                        </mat-error>}
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Address 2</mat-label>
                        <input matInput formControlName="address2" required>
                        @if (secondFormGroup.get('address2')?.hasError('required')) {
                        <mat-error>
                            Address 2 is required
                        </mat-error>
                        }
                    </mat-form-field>
                </div>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="goNext(stepper)" [disabled]="asyncTaskInProgress">Next</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Step 3: Confirmation</ng-template>
                <mat-form-field>
                    <mat-label>Postcode</mat-label>
                    <input matInput formControlName="poscode" required>
                    @if(thirdFormGroup.get('poscode')?.hasError('required')){
                    <mat-error>
                        Postcode is required
                    </mat-error>
                    }
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    @if (thirdFormGroup.get('email')?.hasError('required')) {
                    <mat-error>
                        Email is required
                    </mat-error>
                    }
                    @if (thirdFormGroup.get('email')?.hasError('email')) {
                    <mat-error>
                        Please enter a valid email address
                    </mat-error>
                    }
                    @if (thirdFormGroup.get('email')?.hasError('emailTaken')) {
                    <mat-error>
                        Email is taken
                    </mat-error>
                    }

                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="submitForm()" [disabled]="!thirdFormGroup.valid">Submit</button>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
    }
    @if (selectedStyle === 'tailwind') {
    <app-wizard-tailwind></app-wizard-tailwind>
    }
    <div class="mt-4">
        <h2 class="text-2xl">List of taken emails</h2>
        <ul>
            @for (email of emails; track $index) {
            <li>{{email}}</li>
            }
        </ul>
    </div>

</div>